<div class="menu">
  <h1 class="display-3"></h1>
  <h2>メニュー</h2>
  <br/>
  <div class="row">
  <ul>
    <li><button type="button" class="btn btn-default navbar-btn btn-lg btn-primar">
        <a ng-link="initialsetting">　　設定　　<a><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
        </button>
    </li>
    <br>
    <li><button type="button" class="btn btn-default navbar-btn btn-lg btn-primar">
        <a ng-link="camera">　　撮る　　<a><span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
        </button>
    </li>
    <br>
    <li><button type="button" class="btn btn-default navbar-btn btn-lg btn-primar">
        <a ng-link="album">　　見る　　<a><span class="glyphicon glyphicon-book" aria-hidden="true"></span>
        </button>
    </li>
  </ul>
  </div>
<div>
