<!--写真-->
<h1>カメラ撮影</h1>
<input type="file" file-model="imageFile"　multiple/>
<img ng-if="imageFileSrc" ng-src="{{imageFileSrc}}" style="max-width: 300px"/>
<br/>
<p>イベント入力</p>
<input type="text" ng-model="coment"/>
<br/>
<button ng-click="onclick()">登録</button>
<!--閲覧-->
<ul>
  <li ng-repeat = "message in messages">
    <img src="{{message.img}}" style="max-width: 300px"></img>
    <p> イベント：　{{message.coment}}</p>
    <button ng-click="messages.$remove(message)">削除</button>
  </li>
</ul>

<br/>
