<!--写真-->
<h2>カメラ撮影</h2>
<br/>
<input type="file" file-model="imageFile"　multiple/>
<img ng-if="imageFileSrc" ng-src="{{imageFileSrc}}" style="max-width: 300px"/>
<br/>
  <span  class="nullable">
  <h5>イベント</h5>
  <select ng-model="teikei" ng-options="event.name for event in events" style="width: 100px">
      <option value=""></option>
  </select>
  </span>
<br/>
<br/>
<div >
  <button ng-click="onclick()">登録</button>
</div>
<!--デバック用-->
<ul>
  <li ng-repeat = "message in messages">
    <img src="{{message.img}}" style="max-width: 300px"></img>
    <p> イベント：　{{message.coment}}</p>
    <button ng-click="messages.$remove(message)">削除</button>
  </li>
</ul>

<br/>
